.filters {
    padding: 10px calc(50% - 600px);
    width: 95%;
    margin: 0 auto;
    border: none;
    border-radius: 15px;
    box-shadow: 0 3px 7px 0px rgba(0, 0, 0, 0.153);  
    display: flex;
    justify-content: space-around;
}

.filt_btn {
    background-color: transparent;
    border: none;
    margin-right: 10px;
}